@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@-ms-viewport {
  width: device-width;
  initial-scale: 1;
}
@-moz-viewport {
  width: device-width;
  initial-scale: 1;
}
@-webkit-viewport {
  width: device-width;
  initial-scale: 1;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body,
p {
  margin: 0;
}
body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  word-wrap: break-word;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
audio,
canvas,
span {
  display: inline-block;
}
a,
address,
button,
fieldset,
figure,
input,
legend,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: 0;
  background: 0 0;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
[type="button"],
[type="submit"],
a,
button {
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}
a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}
button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}
p {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
}
b,
strong {
  font-weight: 700;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
embed,
iframe,
img,
object,
video {
  display: block;
  margin: auto;
}
img {
  image-rendering: optimizeQuality;
}
svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}
progress {
  vertical-align: baseline;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
button > *,
input,
select {
  display: inline-block;
  vertical-align: middle;
}
[type="button"],
[type="checkbox"],
[type="radio"],
[type="range"],
[type="reset"],
[type="submit"],
button,
label,
select,
summary {
  user-select: none;
  cursor: pointer;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-slider-thumb,
[type="button"],
[type="radio"],
[type="range"],
[type="search"],
[type="submit"],
select {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
}
::marker {
  display: none;
}
[type="radio"] {
  -webkit-appearance: radio;
}
[type="number"] {
  -moz-appearance: textfield;
}
::-ms-clear,
::-ms-reveal {
  display: none;
}
input,
textarea {
  width: 100%;
}
input {
  text-overflow: ellipsis;
}
textarea {
  overflow: auto;
  resize: none;
}
:active,
:focus,
:hover {
  outline: 0;
  outline-offset: 0;
}
:disabled {
  pointer-events: none;
  cursor: not-allowed;
  -webkit-text-fill-color: initial;
}
::-moz-focus-inner,
::-moz-focus-outer {
  border: 0;
  padding: 0;
}
::placeholder {
  opacity: 1;
  color: inherit;
}
::-moz-placeholder {
  opacity: 1;
  color: inherit;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
  text-align: center;
}
input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
header .block {
  margin: 0;
  border-bottom: 1px solid #55A63080;
}
header .block .line_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .block .line_1 .block_logo {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 10px;
}
header .block .line_1 .block_logo a img {
  width: 60px;
  height: 60px;
}
header .block .line_1 .block_logo .name {
  width: 151.94px;
  font-size: 9px;
  opacity: 0.8;
  padding-left: 11px;
}
header .block .line_1 .block_info {
  display: flex;
  align-items: center;
}
header .block .line_1 .block_info .block_phone {
  display: flex;
  padding-right: 22px;
}
header .block .line_1 .block_info .block_phone .phone_img {
  width: 28;
  height: 28px;
}
header .block .line_1 .block_info .block_phone .phone_number {
  padding-left: 22px;
  font-family: Montserrat;
  font-size: 25px;
  text-align: left;
  color: #424242;
}
header .block .line_1 .block_info .block_icons {
  display: flex;
  align-items: center;
  margin-left: 58px;
}
header .block .line_1 .block_info .block_icons .block_social {
  display: flex;
}
header .block .line_1 .block_info .block_icons .block_social a:not(:last-child) {
  margin-right: 26px;
}
header .block .line_1 .block_info .block_icons .block_lang {
  display: flex;
}
header .block .line_1 .block_info .block_icons .block_lang .lang {
  margin-left: 66px;
  margin-right: 14px;
}
header .menu nav {
  margin: 23px 0;
}
header .menu nav .menu_items {
  display: flex;
  padding-top: 4px;
}
header .menu nav .menu_items .menu_item:not(:last-child) {
  margin-right: 60.2px;
}
header .menu nav .menu_items .menu_item a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}
.sec_1 {
  margin-top: 45px;
}
.sec_1 .wraper_title {
  display: flex;
  align-items: center;
}
.sec_1 .wraper_title .t1 {
  padding-right: 50px;
  font-size: 39px;
  font-weight: 600;
  line-height: 57px;
  color: #55a630;
  text-transform: uppercase;
}
.sec_1 .wraper_title .image {
  width: 589px;
  height: 482px;
  flex-shrink: 0;
  padding-top: 14px;
  padding-bottom: 16px;
}
.sec_1 .wraper_title .image img {
  width: 100%;
  height: 100%;
}
.sec_1 .wrpa_description {
  display: flex;
  justify-content: center;
}
.sec_1 .wrpa_description .description {
  margin-top: 59px;
  width: 1036px;
  padding: 59px 14px 65px 35px;
  box-shadow: 10px 10px 10px 0px rgba(207, 207, 207, 0.25);
}
.sec_1 .wrpa_description .description p {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: #424242;
}
.sec_1 .wrpa_description .description p:not(:last-child) {
  margin-bottom: 35px;
}
.sec_2 {
  margin-top: 175px;
}
.sec_2 .t1 {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  color: #55a630;
}
.sec_2 .block {
  margin-top: 75px;
}
.sec_2 .block .line {
  display: flex;
  justify-content: space-between;
}
.sec_2 .block .line:not(:last-child) {
  margin-bottom: 71px;
}
.sec_2 .block .line:nth-child(even) {
  flex-direction: row-reverse;
}
.sec_2 .block .line .line_image {
  width: 488px;
  height: 406px;
  flex-shrink: 0;
}
.sec_2 .block .line .line_image img {
  width: 100%;
  height: 100%;
}
.sec_2 .block .line .line_text {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  width: 590px;
}
.sec_2 .block .line .line_text .t2 {
  position: relative;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 26px;
  opacity: 0.8;
  color: #424242;
}
.sec_2 .block .line .line_text .t2::before {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 0;
  border: 2px solid #55a630;
  width: 133px;
}
.sec_2 .block .line .line_text .t3 {
  margin-top: 74px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 33px;
  opacity: 0.8;
  color: #424242;
}
.sec_2 .block .line .line_text .t3 p:not(:last-child) {
  padding-bottom: 33px;
}
.sec_3 {
  margin-top: 163px;
  padding: 72px 154px 76px 162px;
  background-color: #ecf9eb;
  box-shadow: 0px 10px 10px 0px rgba(240, 240, 240, 0.25);
}
.sec_3 .t1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
}
.sec_3 .block {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: -2px 2px 20px 0px rgba(66, 66, 66, 0.15);
}
.sec_3 .block .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 50px;
  padding-right: 23px;
}
.sec_3 .block .item:last-child {
  position: relative;
  left: 15px;
}
.sec_3 .block .item .digit {
  margin-bottom: 6px;
  font-size: 45px;
  font-weight: 700;
  color: #55A630;
}
.sec_3 .block .text {
  font-size: 23px;
  font-weight: 400;
  color: #424242;
  text-align: center;
}
.sec_3 .title_course {
  margin-top: 170px;
  margin-bottom: 71px;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: #424242;
}
.sec_4 {
  margin-top: 167px;
}
.sec_4 .t1 {
  text-align: center;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 600;
  color: #424242;
}
.sec_4 .block_card {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}
.sec_4 .block_card .card {
  position: relative;
  padding-left: 28px;
  width: 381px;
  min-height: 315px;
  box-shadow: 0px 3px 20px 0px rgba(66, 66, 66, 0.15);
}
.sec_4 .block_card .card .title_card {
  display: flex;
  align-items: center;
  height: 118px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 600;
  color: #424242;
  line-height: 26px;
}
.sec_4 .block_card .card .text_card {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  color: #1c1e23;
  margin-top: -17px;
}
.sec_4 .block_card .card .num_card {
  position: absolute;
  font-family: Raleway;
  font-size: 180px;
  font-weight: 500;
  color: rgba(85, 166, 48, 0.25);
  bottom: 4px;
  right: 22px;
}
.sec_4 .block_card .card:nth-child(even) .num_card {
  bottom: 138px;
  right: 22px;
}
.sec_4 .block_card .card_green {
  background: #b7ecb1;
}
.sec_5 {
  margin-top: 166px;
}
.sec_5 .t1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.sec_5 .block_photos {
  display: flex;
  justify-content: space-between;
  margin-top: 89px;
  font-size: 35px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.sec_5 .block_photos .photo {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec_5 .block_photos .photo img {
  height: 380px;
}
.sec_5 .block_photos .photo .t2 {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: #424242;
}
.sec_5 .block_photos .photo .t3 {
  margin-top: 2px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  opacity: 0.8;
  color: #1c1e23;
}
footer .block {
  display: flex;
}
footer .block .map {
  width: 796px;
  height: 774px;
  flex-shrink: 0;
}
footer .block .map iframe {
  width: 100%;
  height: 100%;
}
footer .block .info_footer {
  width: 100%;
  background: #424242;
  padding-left: 70px;
}
footer .block .info_footer .logo {
  display: block;
  width: 98px;
  height: 98px;
  margin-top: 37px;
  position: relative;
  left: 5px;
}
footer .block .info_footer .tel {
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
footer .block .info_footer .adress {
  margin-top: 21px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
}
footer .block .info_footer .links {
  margin-top: 77px;
}
footer .block .info_footer .links ul {
  columns: 2;
  width: 483px;
}
footer .block .info_footer .links ul li {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 20px;
}
footer .block .info_footer .social {
  display: flex;
  margin-top: 81px;
  padding-left: 5px;
}
footer .block .info_footer .social a:last-child {
  margin: 0;
}
footer .block .info_footer .social a {
  margin-left: 0;
  margin-right: 39px;
}
footer .block .info_footer .politico {
  margin-top: 48px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 4px;
}
