.sec_1 {
  margin-top: 81px;
}
.sec_1 .t1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.sec_1 .t2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.sec_1 .t2 img {
  margin: 0;
  padding: 0 26px 0 0;
  position: relative;
  right: 5px;
  top: 2px;
}
.sec_1 .block {
  margin-top: 30px;
}
.sec_1 .block .menu .main_menu {
  display: flex;
  border: 1px solid #c7f8c2;
  box-shadow: 0px 4px 4px 0px rgba(202, 202, 202, 0.1);
}
.sec_1 .block .menu .main_menu .main_menu_li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  position: relative;
}
.sec_1 .block .menu .main_menu .main_menu_li:not(:last-child) {
  width: 113px;
  border-right: 1px solid #c7f8c2;
}
.sec_1 .block .menu .main_menu .main_menu_li:first-child {
  flex-grow: 0;
  width: 202px;
  background: #c7f8c2;
}
.sec_1 .block .menu .main_menu .main_menu_li ul {
  display: none;
}
.sec_1 .block .menu .main_menu .main_menu_li:hover .name_down_menu {
  color: #55a630;
  cursor: pointer;
}
.sec_1 .block .menu .main_menu .main_menu_li:hover ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 29px 25px 23px;
  border: 1px solid #c7f8c2;
  z-index: 1;
  background: #ffffff;
}
.sec_1 .block .menu .main_menu .main_menu_li:hover ul li {
  margin-bottom: 14px;
  cursor: pointer;
}
.sec_2 {
  margin-top: 51px;
  margin-bottom: 104px;
}
.sec_2 .block {
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
}
.sec_2 .block .card {
  width: 368px;
  height: 584px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  position: relative;
  margin-bottom: 59px;
}
.sec_2 .block .card .bird {
  width: 44px;
  height: 31px;
  position: absolute;
  top: 16px;
  right: 14px;
}
.sec_2 .block .card .container_2 {
  padding-left: 24px;
}
.sec_2 .block .card .container_2 .t1 {
  padding-top: 16px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #424242;
}
.sec_2 .block .card .container_2 .t2 {
  margin-bottom: 17px;
  font-size: 30px;
  font-weight: 600;
}
.sec_2 .block .card .container_2 .t3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  width: 166px;
  height: 39px;
  border-radius: 9px;
}
.sec_2 .block .card .container_2 .t4 {
  margin-bottom: 43px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #424242;
}
.sec_2 .block .card .container_2 .block_t5 {
  display: flex;
  position: relative;
}
.sec_2 .block .card .container_2 .block_t5 .text {
  padding-top: 6px;
  padding-left: 14px;
  width: 158px;
  margin-bottom: 63px;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 400;
  color: #424242;
  line-height: 25px;
}
.sec_2 .block .card .container_2 .block_t5 .face {
  position: absolute;
  right: 13px;
  width: 133px;
  height: 154px;
  bottom: 60px;
}
.sec_2 .block .card .container_2 .block_t5 .face_2 {
  position: absolute;
  right: 13px;
  width: 122px;
  height: 154px;
  bottom: 60px;
}
.sec_2 .block .card .container_2 .t6 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #424242;
}
.sec_2 .block .card .block_reg {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
.sec_2 .block .card .block_reg .reg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.sec_2 .block .card .block_reg .description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}
.sec_2 .block .card_indigo .t2 {
  color: #4340b4;
}
.sec_2 .block .card_indigo .t3 {
  background: #4340b4;
}
.sec_2 .block .card_indigo .block_t5 .text {
  border-left: 3px solid #5351c4;
}
.sec_2 .block .card_indigo .reg {
  background: #4340b4;
}
.sec_2 .block .card_indigo .description {
  background: rgba(83, 81, 196, 0.1);
  color: #4340b4;
}
.sec_2 .block .card_green .t2 {
  color: #55a630;
}
.sec_2 .block .card_green .t3 {
  background: #55a630;
}
.sec_2 .block .card_green .block_t5 .text {
  border-left: 3px solid #55a630;
}
.sec_2 .block .card_green .reg {
  background: #55a630;
}
.sec_2 .block .card_green .description {
  background: #ecf9eb;
  color: #55a630;
}
.sec_2 .block .card_blue .t2 {
  color: #1d8195;
}
.sec_2 .block .card_blue .t3 {
  background: #00a896;
}
.sec_2 .block .card_blue .block_t5 .text {
  border-left: 3px solid #00a896;
}
.sec_2 .block .card_blue .reg {
  background: #00a896;
}
.sec_2 .block .card_blue .description {
  background: rgba(0, 168, 150, 0.1);
  color: #1d8195;
}
.sec_2 .block .video {
  display: flex;
  flex-direction: column;
}
.sec_2 .block .video .wrapper_prev_video {
  position: relative;
  height: 242px;
  width: 100%;
}
.sec_2 .block .video .wrapper_prev_video img {
  width: 100%;
  height: 100%;
}
.sec_2 .block .video .wrapper_prev_video .play {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 0;
  right: 1%;
  top: 0;
  bottom: 15%;
}
.sec_2 .block .video .wrapper_prev_video .text_video_1 {
  position: absolute;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.8;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sec_2 .block .video .wrapper_prev_video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #424242;
  opacity: 0.6;
}
.sec_2 .block .video .wrapper_desciption_video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 auto;
  padding-left: 21px;
}
.sec_2 .block .video .wrapper_desciption_video .text_video_2 {
  padding-top: 36px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #424242;
}
.sec_2 .block .video .wrapper_desciption_video .text_video_2 span {
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
}
.sec_2 .block .video .wrapper_desciption_video .text_video_3 {
  padding-bottom: 42px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #424242;
}
.sec_2 .pagination_block {
  margin-top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec_2 .pagination_block .block_page {
  margin: 0 28px;
}
.sec_2 .pagination_block .block_page .page {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.sec_2 .pagination_block .block_page .page a {
  color: #424242;
}
.sec_2 .pagination_block .block_page .page:not(:last-child) {
  margin-right: 12px;
}
.sec_2 .pagination_block .block_page .active_page {
  color: #55a630;
}
