@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R8aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq_p9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq6R9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq5Z9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq3p6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqw16aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Uw-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvC70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@-ms-viewport {
  width: device-width;
  initial-scale: 1;
}
@-moz-viewport {
  width: device-width;
  initial-scale: 1;
}
@-webkit-viewport {
  width: device-width;
  initial-scale: 1;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body,
p {
  margin: 0;
}
body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  word-wrap: break-word;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
audio,
canvas,
span {
  display: inline-block;
}
a,
address,
button,
fieldset,
figure,
input,
legend,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  text-shadow: inherit;
  border: 0;
  background: 0 0;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
[type="button"],
[type="submit"],
a,
button {
  transition: color 0.25s, background 0.25s, opacity 0.25s;
}
a {
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: none;
}
button {
  overflow: visible;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
}
p {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden;
}
b,
strong {
  font-weight: 700;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
embed,
iframe,
img,
object,
video {
  display: block;
  margin: auto;
}
img {
  image-rendering: optimizeQuality;
}
svg {
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}
progress {
  vertical-align: baseline;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font: inherit;
  color: inherit;
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button,
button > *,
input,
select {
  display: inline-block;
  vertical-align: middle;
}
[type="button"],
[type="checkbox"],
[type="radio"],
[type="range"],
[type="reset"],
[type="submit"],
button,
label,
select,
summary {
  user-select: none;
  cursor: pointer;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-slider-thumb,
[type="button"],
[type="radio"],
[type="range"],
[type="search"],
[type="submit"],
select {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
::-webkit-contacts-auto-fill-button,
::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
}
::marker {
  display: none;
}
[type="radio"] {
  -webkit-appearance: radio;
}
[type="number"] {
  -moz-appearance: textfield;
}
::-ms-clear,
::-ms-reveal {
  display: none;
}
input,
textarea {
  width: 100%;
}
input {
  text-overflow: ellipsis;
}
textarea {
  overflow: auto;
  resize: none;
}
:active,
:focus,
:hover {
  outline: 0;
  outline-offset: 0;
}
:disabled {
  pointer-events: none;
  cursor: not-allowed;
  -webkit-text-fill-color: initial;
}
::-moz-focus-inner,
::-moz-focus-outer {
  border: 0;
  padding: 0;
}
::placeholder {
  opacity: 1;
  color: inherit;
}
::-moz-placeholder {
  opacity: 1;
  color: inherit;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
  text-align: center;
}
input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}
input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.6s ease;
}
.pagination {
  text-align: center;
  margin-top: 75px;
}
.swiper-pagination-custom .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #b7ecb1;
  color: #b7ecb1;
  opacity: 1;
}
.swiper-pagination-custom .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background-color: #55a630;
  color: #55a630;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
header .block {
  margin: 0;
  border-bottom: 1px solid #55A63080;
}
header .block .line_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .block .line_1 .block_logo {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 10px;
}
header .block .line_1 .block_logo a img {
  width: 60px;
  height: 60px;
}
header .block .line_1 .block_logo .name {
  width: 151.94px;
  font-size: 9px;
  opacity: 0.8;
  padding-left: 11px;
}
header .block .line_1 .block_info {
  display: flex;
  align-items: center;
}
header .block .line_1 .block_info .block_phone {
  display: flex;
  padding-right: 22px;
}
header .block .line_1 .block_info .block_phone .phone_img {
  width: 28;
  height: 28px;
}
header .block .line_1 .block_info .block_phone .phone_number {
  padding-left: 22px;
  font-family: Montserrat;
  font-size: 25px;
  text-align: left;
  color: #424242;
}
header .block .line_1 .block_info .block_icons {
  display: flex;
  align-items: center;
  margin-left: 58px;
}
header .block .line_1 .block_info .block_icons .block_social {
  display: flex;
}
header .block .line_1 .block_info .block_icons .block_social a:not(:last-child) {
  margin-right: 26px;
}
header .block .line_1 .block_info .block_icons .block_lang {
  display: flex;
}
header .block .line_1 .block_info .block_icons .block_lang .lang {
  margin-left: 66px;
  margin-right: 14px;
}
header .menu nav {
  margin: 23px 0;
}
header .menu nav .menu_items {
  display: flex;
  padding-top: 4px;
}
header .menu nav .menu_items .menu_item:not(:last-child) {
  margin-right: 60.2px;
}
header .menu nav .menu_items .menu_item a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
}
.sec_1 {
  margin-top: 68px;
}
.sec_1 .block_1 {
  display: flex;
  justify-content: space-between;
}
.sec_1 .block_1 .wrapper_name {
  padding-top: 112px;
}
.sec_1 .block_1 .wrapper_name .t1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #55a630;
}
.sec_1 .block_1 .wrapper_name .t2 {
  width: 571px;
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
  color: #424242;
  text-transform: uppercase;
}
.sec_1 .block_1 .wrapper_name .block_btns {
  position: relative;
  margin-top: 54px;
  padding-bottom: 138px;
  left: 2px;
}
.sec_1 .block_1 .wrapper_name .block_btns .btn {
  width: 285px;
  height: 66px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
}
.sec_1 .block_1 .wrapper_name .block_btns .btn_green {
  margin-right: 16px;
  background-color: #55A630;
  color: #FFFFFF;
}
.sec_1 .block_1 .wrapper_name .block_btns .btn_trnsprnt {
  padding-top: 3px;
  border: 1px solid #55A630;
  color: #55A630;
  letter-spacing: -0.8px;
  padding-left: 6px;
  position: relative;
  z-index: 10;
}
.sec_1 .block_1 .wrapper_img {
  width: 590px;
  flex-shrink: 0;
}
.sec_1 .block_1 .wrapper_img img {
  width: 100%;
}
.sec_1 .block_2 {
  margin-top: 45px;
  background: #d7ffd3;
  padding: 80px 44px 80px 80px;
}
.sec_1 .block_2 .description {
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
  color: #424242;
  opacity: 0.8;
}
.sec_1 .block_2 .description:not(:last-child) {
  padding-bottom: 33px;
}
.sec_2 {
  margin-top: 175px;
}
.sec_2 .t1 {
  font-size: 35px;
  font-weight: 600;
  line-height: 43px;
  text-align: center;
  color: #424242;
}
.sec_2 .block {
  width: 996px;
  margin-top: 75px;
  padding-top: 34px;
  box-shadow: 0px 4px 10px 0px rgba(198, 198, 198, 0.3);
  background: #ffffff;
  margin: 75px auto 0;
}
.sec_2 .block .day {
  padding-bottom: 34px;
  padding-right: 39px;
  padding-left: 40px;
  border-bottom: 1px solid #b5b5b5;
  display: flex;
  justify-content: center;
}
.sec_2 .block .day:not(:first-child) {
  padding-top: 40px;
}
.sec_2 .block .day .date {
  padding-top: 11px;
  font-size: 24px;
  font-weight: 500;
  color: #424242;
  margin-right: 57px;
  flex-shrink: 0;
  text-transform: uppercase;
}
.sec_2 .block .day .content .thema {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  color: #424242;
}
.sec_2 .block .day .content .thema .close_program {
  cursor: pointer;
}
.sec_2 .block .day .content .thema .rotate_btn {
  transform: rotate(45deg);
}
.sec_2 .block .day .content .type {
  margin-top: 35px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #55a630;
}
.sec_2 .block .day .content .wrapper_program ul li {
  display: flex;
  padding-right: 108px;
}
.sec_2 .block .day .content .wrapper_program ul li:not(:last-child) {
  margin-bottom: 21px;
}
.sec_2 .block .day .content .wrapper_program ul li span {
  margin-right: 23px;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  color: #d4d8db;
}
.sec_2 .block .day .content .wrapper_program ul li p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #424242;
  opacity: 0.8;
}
.sec_2 .block .content_none {
  display: none;
}
.sec_3 {
  margin-top: 168px;
}
.sec_3 .t1 {
  margin-bottom: 77px;
  font-size: 35px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #424242;
}
.sec_3 .block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec_3 .block .card {
  width: 576px;
  min-height: 230px;
  background: #d7ffd3;
  padding-left: 41px;
}
.sec_3 .block .card:not( :nth-last-child(-n+2)) {
  margin-bottom: 49px;
}
.sec_3 .block .card .t2 {
  max-width: 416px;
  padding-top: 43px;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.4px;
  color: #424242;
}
.sec_3 .block .card .t3 {
  margin-top: 26px;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #424242;
}
.sec_4 {
  margin-top: 180px;
}
.sec_4 .block {
  display: flex;
}
.sec_4 .block .block_img {
  margin-right: 79px;
  width: 406px;
  height: 511px;
  flex-shrink: 0;
}
.sec_4 .block .block_img img {
  width: 100%;
  height: 100%;
}
.sec_4 .block .block_text .t1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 24px;
  color: #55a630;
}
.sec_4 .block .block_text .t2 {
  margin-top: 21px;
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  color: #424242;
}
.sec_4 .block .block_text ul {
  margin-top: 74px;
}
.sec_4 .block .block_text ul li {
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0px;
  color: #424242;
  opacity: 0.8;
  position: relative;
  padding-left: 22px;
}
.sec_4 .block .block_text ul li:before {
  content: "\2219";
  font-size: 40px;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 2px;
}
.sec_5 {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf9eb;
  background-image: url(../img/fone_2.png);
  background-repeat: no-repeat;
  background-position-x: 78%;
  background-position-y: 49%;
}
.sec_5 .block {
  width: 650px;
}
.sec_5 .block .t1 {
  padding-top: 114px;
  padding-bottom: 30px;
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
}
.sec_5 .block .t2 {
  padding-bottom: 63px;
  padding-left: 42px;
  font-size: 27px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0px;
  text-align: center;
  color: #424242;
}
.sec_5 button {
  width: 320px;
  height: 55px;
  margin-bottom: 126px;
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  background: #55a630;
}
.sec_6 {
  margin-top: 175px;
}
.sec_6 .container {
  width: 1160px;
}
.sec_6 .t1 {
  margin-bottom: 75px;
  font-size: 35px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #424242;
}
.sec_7 {
  margin-top: 148px;
  margin-bottom: 187px;
}
.sec_7 .another_course {
  font-size: 35px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #424242;
}
.sec_7 .block {
  margin-top: 69px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.sec_7 .block .card {
  width: 368px;
  height: 584px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  position: relative;
}
.sec_7 .block .card .bird {
  width: 44px;
  height: 31px;
  position: absolute;
  top: 16px;
  right: 14px;
}
.sec_7 .block .card .container_2 {
  padding-left: 24px;
}
.sec_7 .block .card .container_2 .t1 {
  padding-top: 16px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #424242;
}
.sec_7 .block .card .container_2 .t2 {
  margin-bottom: 17px;
  font-size: 30px;
  font-weight: 600;
}
.sec_7 .block .card .container_2 .t3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  width: 166px;
  height: 39px;
  border-radius: 9px;
}
.sec_7 .block .card .container_2 .t4 {
  margin-bottom: 43px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #424242;
}
.sec_7 .block .card .container_2 .block_t5 {
  display: flex;
  position: relative;
}
.sec_7 .block .card .container_2 .block_t5 .text {
  padding-top: 6px;
  padding-left: 14px;
  width: 158px;
  margin-bottom: 63px;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 400;
  color: #424242;
  line-height: 25px;
}
.sec_7 .block .card .container_2 .block_t5 .face {
  position: absolute;
  right: 13px;
  width: 133px;
  height: 154px;
  bottom: 60px;
}
.sec_7 .block .card .container_2 .block_t5 .face_2 {
  position: absolute;
  right: 13px;
  width: 122px;
  height: 154px;
  bottom: 60px;
}
.sec_7 .block .card .container_2 .t6 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #424242;
}
.sec_7 .block .card .block_reg {
  display: flex;
  flex-direction: column;
}
.sec_7 .block .card .block_reg .reg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.sec_7 .block .card .block_reg .description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}
.sec_7 .block .card_indigo .t2 {
  color: #4340b4;
}
.sec_7 .block .card_indigo .t3 {
  background: #4340b4;
}
.sec_7 .block .card_indigo .block_t5 .text {
  border-left: 3px solid #5351c4;
}
.sec_7 .block .card_indigo .reg {
  background: #4340b4;
}
.sec_7 .block .card_indigo .description {
  background: rgba(83, 81, 196, 0.1);
  color: #4340b4;
}
.sec_7 .block .card_green .t2 {
  color: #55a630;
}
.sec_7 .block .card_green .t3 {
  background: #55a630;
}
.sec_7 .block .card_green .block_t5 .text {
  border-left: 3px solid #55a630;
}
.sec_7 .block .card_green .reg {
  background: #55a630;
}
.sec_7 .block .card_green .description {
  background: #ecf9eb;
  color: #55a630;
}
.sec_7 .block .card_blue .t2 {
  color: #1d8195;
}
.sec_7 .block .card_blue .t3 {
  background: #00a896;
}
.sec_7 .block .card_blue .block_t5 .text {
  border-left: 3px solid #00a896;
}
.sec_7 .block .card_blue .reg {
  background: #00a896;
}
.sec_7 .block .card_blue .description {
  background: rgba(0, 168, 150, 0.1);
  color: #1d8195;
}
.sec_7 .all_course {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: end;
  color: #424242;
  opacity: 0.8;
}
footer .block {
  display: flex;
}
footer .block .map {
  width: 796px;
  height: 774px;
  flex-shrink: 0;
}
footer .block .map iframe {
  width: 100%;
  height: 100%;
}
footer .block .info_footer {
  width: 100%;
  background: #424242;
  padding-left: 70px;
}
footer .block .info_footer .logo {
  display: block;
  width: 98px;
  height: 98px;
  margin-top: 37px;
  position: relative;
  left: 5px;
}
footer .block .info_footer .tel {
  margin-top: 50px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
footer .block .info_footer .adress {
  margin-top: 21px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
}
footer .block .info_footer .links {
  margin-top: 77px;
}
footer .block .info_footer .links ul {
  columns: 2;
  width: 483px;
}
footer .block .info_footer .links ul li {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 20px;
}
footer .block .info_footer .social {
  display: flex;
  margin-top: 81px;
  padding-left: 5px;
}
footer .block .info_footer .social a:last-child {
  margin: 0;
}
footer .block .info_footer .social a {
  margin-left: 0;
  margin-right: 39px;
}
footer .block .info_footer .politico {
  margin-top: 48px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 4px;
}
