@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "normalize";

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}

header {
    .block {
        margin: 0;
        border-bottom: 1px solid #55A63080;

        .line_1 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .block_logo {
                display: flex;
                align-items: center;
                margin-top: 12px;
                margin-bottom: 10px;

                a {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }

                .name {
                    width: 151.94px;
                    font-size: 9px;
                    opacity: 0.8;
                    padding-left: 11px;
                }
            }

            .block_info {
                display: flex;
                align-items: center;

                .block_phone {
                    display: flex;
                    padding-right: 22px;

                    .phone_img {
                        width: 28;
                        height: 28px;
                    }

                    .phone_number {
                        padding-left: 22px;
                        font-family: Montserrat;
                        font-size: 25px;
                        text-align: left;
                        color: #424242;

                    }
                }

                .block_icons {
                    display: flex;
                    align-items: center;
                    margin-left: 58px;

                    .block_social {
                        display: flex;

                        a:not(:last-child) {
                            margin-right: 26px;
                        }

                    }

                    .block_lang {
                        display: flex;

                        .lang {
                            margin-left: 66px;
                            margin-right: 14px;
                        }

                        .down {}
                    }
                }
            }
        }



    }

    .menu {
        nav {
            margin: 23px 0;

            .menu_items {
                display: flex;
                padding-top: 4px;

                .menu_item {
                    &:not(:last-child) {
                        margin-right: 60.2px;
                    }

                    a {
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                        color: #424242;
                    }
                }
            }
        }
    }
}

.sec_1 {
    background-color: #ECFFEB;
    position: relative;

    .text_1 {
        padding-top: 71px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;
        color: #424242;
    }

    .text_2 {
        width: 496px;
        font-family: Montserrat;
        font-size: 65px;
        font-weight: 700;
        line-height: 65px;
        color: #55A630;
        margin-top: 9px;
        position: relative;
        right: 6px;
    }

    .text_3 {
        width: 413px;
        padding-top: 20px;
        padding-bottom: 57px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0px;
        color: #424242;
    }

    .block_btns {
        padding-bottom: 138px;

        .btn {
            width: 285px;
            height: 66px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
        }

        .btn_green {
            margin-right: 16px;
            background-color: #55A630;
            color: #FFFFFF;
        }

        .btn_trnsprnt {
            padding-top: 3px;
            border: 1px solid #55A630;
            color: #55A630;
            letter-spacing: -0.8px;
            padding-left: 6px;
            position: relative;
            z-index: 10;
        }
    }


    .woman {
        width: 681px;
        height: 556px;
        position: absolute;
        bottom: 0;
        right: 136px;
    }
}

.sec_2 {
    position: relative;
    top: -24px;

    .block {
        display: flex;
        justify-content: space-around;
        background-color: #FFFFFF;
        border-radius: 4px;
        box-shadow: -2px 2px 20px 0px rgba(66, 66, 66, 0.15);

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            padding-bottom: 50px;
            padding-right: 23px;

            &:last-child  {
                position: relative;
                left: 15px;
            }

            .digit {
                // &:not(:last-child) {
                //     margin-right: 156px;
                // }

                margin-bottom: 6px;
                font-size: 45px;
                font-weight: 700;
                color: #55A630;
            }
        }


        .text {
            font-size: 23px;
            font-weight: 400;
            color: #424242;
            text-align: center;

            // &:not(:last-child) {
            //     margin-right: 156px;
            // }
        }
    }
}