@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@400;600&display=swap');
@import "normalize";

.swiper {
    width: 1200px;
    // height: 300px;
}

.swiper_2 {
    width: 1200px;
    overflow: hidden;
    // height: 300px;
}

.slider__back {
    position: absolute;
    left: -27px;
    top: 39%;
    z-index: 1000;
    cursor: pointer;
}

.slider__next {
    position: absolute;
    right: -43px;
    top: 39%;
    z-index: 1000;
    cursor: pointer;
}

.slider__back_2 {
    top: 52%;
}

.slider__next_2 {
    top: 52%;
}

.slider__back_3 {
    top: 48%;
}

.slider__next_3 {
    top: 48%;
    right: -28px;
}

.pagination {
    text-align: center;
    margin-top: 75px;
}

.swiper-pagination-custom .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: rgba(183, 236, 177, 1); // изменяем цвет фона активного пункта
    color: rgba(183, 236, 177, 1); // изменяем цвет текста активного пункта
    opacity: 1;
    // border: 2px solid #ff0000; // изменяем стиль рамки активного пункта
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: rgba(85, 166, 48, 1); // изменяем цвет фона активного пункта
    color: rgba(85, 166, 48, 1); // изменяем цвет текста активного пункта
    // border: 2px solid #ff0000; // изменяем стиль рамки активного пункта
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}

header {
    .block {
        margin: 0;
        border-bottom: 1px solid #55A63080;

        .line_1 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .block_logo {
                display: flex;
                align-items: center;
                margin-top: 12px;
                margin-bottom: 10px;

                a {
                    img {
                        width: 60px;
                        height: 60px;
                    }
                }

                .name {
                    width: 151.94px;
                    font-size: 9px;
                    opacity: 0.8;
                    padding-left: 11px;
                }
            }

            .block_info {
                display: flex;
                align-items: center;

                .block_phone {
                    display: flex;
                    padding-right: 22px;

                    .phone_img {
                        width: 28;
                        height: 28px;
                    }

                    .phone_number {
                        padding-left: 22px;
                        font-family: Montserrat;
                        font-size: 25px;
                        text-align: left;
                        color: #424242;

                    }
                }

                .block_icons {
                    display: flex;
                    align-items: center;
                    margin-left: 58px;

                    .block_social {
                        display: flex;

                        a:not(:last-child) {
                            margin-right: 26px;
                        }

                    }

                    .block_lang {
                        display: flex;

                        .lang {
                            margin-left: 66px;
                            margin-right: 14px;
                        }

                        .down {}
                    }
                }
            }
        }



    }

    .menu {
        nav {
            margin: 23px 0;

            .menu_items {
                display: flex;
                padding-top: 4px;

                .menu_item {
                    &:not(:last-child) {
                        margin-right: 60.2px;
                    }

                    a {
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: 500;
                        color: #424242;
                    }
                }
            }
        }
    }
}

.sec_1 {
    margin-top: 68px;

    .block_1 {
        display: flex;
        justify-content: space-between;

        .wrapper_name {
            padding-top: 112px;

            .t1 {
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                color: rgba(85, 166, 48, 1);
            }

            .t2 {
                width: 571px;
                margin-top: 15px;
                font-family: Montserrat;
                font-size: 42px;
                font-weight: 500;
                line-height: 54px;
                letter-spacing: 0px;
                text-align: left;
                color: rgba(66, 66, 66, 1);
                text-transform: uppercase;

            }

            .block_btns {
                position: relative;
                margin-top: 54px;
                padding-bottom: 138px;
                left: 2px;

                .btn {
                    width: 285px;
                    height: 66px;
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 600;
                }

                .btn_green {
                    margin-right: 16px;
                    background-color: #55A630;
                    color: #FFFFFF;
                }

                .btn_trnsprnt {
                    padding-top: 3px;
                    border: 1px solid #55A630;
                    color: #55A630;
                    letter-spacing: -0.8px;
                    padding-left: 6px;
                    position: relative;
                    z-index: 10;
                }
            }
        }

        .wrapper_img {
            width: 590px;
            flex-shrink: 0;

            img {
                width: 100%;
            }
        }
    }

    .block_2 {
        margin-top: 45px;
        background: rgba(215, 255, 211, 1);
        padding: 80px 44px 80px 80px;

        .description {
            font-size: 20px;
            font-weight: 500;
            line-height: 34px;
            letter-spacing: 0px;
            text-align: left;
            color: rgba(66, 66, 66, 1);
            opacity: 0.8;
        }

        & .description:not(:last-child) {
            padding-bottom: 33px;
        }
    }
}

.sec_2 {
    margin-top: 175px;

    .t1 {
        font-size: 35px;
        font-weight: 600;
        line-height: 43px;
        text-align: center;
        color: rgba(66, 66, 66, 1);
    }

    .block {
        width: 996px;
        margin-top: 75px;
        padding-top: 34px;
        box-shadow: 0px 4px 10px 0px rgba(198, 198, 198, 0.3);
        background: rgba(255, 255, 255, 1);
        margin: 75px auto 0;

        .day {
            &:not(:first-child) {
                padding-top: 40px;
            }

            padding-bottom: 34px;
            padding-right: 39px;
            padding-left: 40px;
            display: flex;
            border-bottom: 1px solid rgba(181, 181, 181, 1);
            display: flex;
            justify-content: center;

            .date {
                padding-top: 11px;
                font-size: 24px;
                font-weight: 500;
                color: #424242;
                margin-right: 57px;
                flex-shrink: 0;
                text-transform: uppercase;
            }

            .content {
                .thema {
                    display: flex;
                    font-size: 20px;
                    font-weight: 500;
                    color: #424242;

                    .close_program {
                        cursor: pointer;
                    }

                    .rotate_btn {
                        transform: rotate(45deg);
                    }
                }

                .type {
                    margin-top: 35px;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    color: rgba(85, 166, 48, 1);
                }

                .wrapper_program {
                    ul {
                        li {
                            display: flex;
                            padding-right: 108px;

                            &:not(:last-child) {
                                margin-bottom: 21px;
                            }

                            span {
                                margin-right: 23px;
                                font-size: 22px;
                                font-weight: 700;
                                line-height: 32px;
                                color: rgba(212, 216, 219, 1);


                            }

                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                color: rgba(66, 66, 66, 1);
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }

        .content_none {
            display: none;
        }
    }
}

.sec_3 {
    margin-top: 168px;

    .t1 {
        margin-bottom: 77px;
        font-size: 35px;
        font-weight: 600;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(66, 66, 66, 1);

    }

    .block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 576px;
            min-height: 230px;
            background: rgba(215, 255, 211, 1);
            padding-left: 41px;

            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 49px;
            }

            .t2 {
                max-width: 416px;
                // padding-right: 129px;
                padding-top: 43px;
                font-size: 24px;
                font-weight: 600;
                line-height: 26px;
                letter-spacing: -0.4px;
                color: rgba(66, 66, 66, 1);
            }

            .t3 {
                margin-top: 26px;
                padding-bottom: 23px;
                font-size: 22px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0;
                color: #424242;
            }
        }
    }
}

.sec_4 {
    margin-top: 180px;

    .block {
        display: flex;

        .block_img {
            margin-right: 79px;
            width: 406px;
            height: 511px;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .block_text {
            .t1 {
                font-size: 30px;
                font-weight: 500;
                line-height: 24px;
                color: rgba(85, 166, 48, 1);
            }

            .t2 {
                margin-top: 21px;
                font-size: 35px;
                font-weight: 600;
                line-height: 42px;
                color: rgba(66, 66, 66, 1);
            }

            ul {
                margin-top: 74px;

                li {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 50px;
                    letter-spacing: 0px;
                    color: rgba(66, 66, 66, 1);
                    opacity: 0.8;
                    position: relative;
                    padding-left: 22px;

                    &:before {
                        content: "\2219";
                        font-size: 40px;
                        line-height: 0;
                        position: absolute;
                        top: 50%;
                        left: 2px;
                        ;
                    }
                }
            }
        }
    }
}

footer {
    .block {
        display: flex;

        .map {
            width: 796px;
            height: 774px;
            flex-shrink: 0;

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        .info_footer {
            width: 100%;
            background: rgba(66, 66, 66, 1);
            padding-left: 70px;

            .logo {
                display: block;
                width: 98px;
                height: 98px;
                margin-top: 37px;
                position: relative;
                left: 5px;
            }

            .tel {
                margin-top: 50px;
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 700;
                color: rgba(255, 255, 255, 1);
            }

            .adress {
                margin-top: 21px;
                font-family: Montserrat;
                font-size: 25px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
            }

            .links {
                margin-top: 77px;

                ul {
                    columns: 2;
                    width: 483px;

                    li {
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(255, 255, 255, 1);
                        opacity: 0.8;
                        margin-bottom: 20px;
                    }
                }
            }

            .social {
                display: flex;
                margin-top: 81px;
                padding-left: 5px;

                a:last-child {
                    margin: 0;
                }

                a {
                    margin-left: 0;
                    margin-right: 39px;
                }


            }

            .politico {
                margin-top: 48px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                padding-left: 4px;
            }
        }
    }
}